<h1>Organizador de Polizas</h1>

<div class="col-md-9">
  <div class="col-md-12">
    <div class="col-md-12">
      <h3> Compañias </h3>
    </div>
    <div class="col-md-10 col-md-push-2">
      <p class=""> Nuestras polizas necesitaran estar asociadas a una compañia, para agregarlas solo debes
      dirigirte a <strong> "Compañias" </strong> en la barra de navegacion, luego hacer click en <strong>
      "Agregar Compañia" </strong>, colocar el nombre y finalmente hacer click en <strong> "Crear" </strong>. </p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <h3> Clientes </h3>
    </div>
    <div class="col-md-10 col-md-push-2">
      <p class=""> Necesitaremos clientes a los cuales podamos asociarles sus polizas correspondientes, para agregar un cliente solo debes dirigirte a <strong> "Clientes" </strong> en la barra de navegacion, luego hacer click en <strong> "Agregar Cliente" </strong>, colocar el dni, nombre y apellido(opcional); finalmente hacer click en <strong> "Crear" </strong>. </p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <h3> Polizas </h3>
    </div>
    <div class="col-md-10 col-md-push-2">
      <p class=""> <strong> Antes de crear una poliza necesitaremos una compañia y un cliente a los cuales asociarla </strong> </p>
      <p class=""> Para crear una solo debes dirigirte a <strong> "Clientes" </strong> en la barra de navegacion, luego hacer click en un cliente, a continuacion nos dirigimos a <strong> "Listar Polizas" </strong> y debemos hacer click en <strong> "Agregar Poliza" </strong>, seleccionamos la compañia a la cual pertenece la poliza, agregamos un link(opcional) a la imagen de la poliza, por ultimo agregamos las fechas de compra y vencimiento de la misma; finalmente hacer click en <strong> "Crear" </strong>. </p>
    </div>
  </div>
</div>