<h1>Editar Compañias</h1>

<%= render 'form', company: @company %>

<div class="col-md-6">
  <div class="col-md-6 col-md-push-6">
    <%= link_to 'Atras', companies_path, {class: 'btn btn-primary btn-block'} %>
  </div>
</div>