<div class="col-md-9 col-md-push-4">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-4">
        <p class=""> Nombre: </p>
      </div>
      <div class="col-md-8">
        <p class=""> <%= @company.name %> </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-7">
  <div class="col-md-7 col-md-push-7">
    <%= link_to 'Atras', companies_path, {class: 'btn btn-primary btn-block'} %>
  </div>
</div>