<div class="col-md-10 col-md-push-3">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-4">
        <p class=""> Nombre: </p>
      </div>
      <div class="col-md-8">
        <p class=""> <%= @company.name %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-5 col-md-push-3">
    <%= link_to 'Atras', companies_path, {class: 'btn btn-primary btn-block'} %>
  </div>
</div>